body{
    background-color: rgb(241, 201, 126);
    background: url("../imagenes de HTML/fondo_torta.jpg");  width: 100%;
    color: black;
    width: 100%;
    
}

.todo{
    background-color: rgb(241, 201, 126);
    color: black;
    text-align: center;
    background-attachment: fixed;
    background-image: url(https://es.123rf.com/photo_89717883_rebanadas-del-tri%C3%A1ngulo-de-la-cubierta-deliciosa-de-la-torta-del-dulce-de-az%C3%BAcar-del-chocolate-con.html);
    
}

